pre:hover{
    color: rgb(0, 255, 42);
    text-shadow: 1px 1px 5px red;
}

.hover-text-one:hover{
    color: fuchsia;
}
.hover-text-two:hover{
    color: coral;
}
.hover-text-three:hover{
    color: black;
}

.button:hover{
    background-color: black;
    color: chartreuse;
}

@media screen and (max-width: 576px) {
    .one{
        font-size: 1rem;
    }
    .two{
        font-size: 1.2rem;
    }
    .three{
        font-size: 0.85rem;
    }
    .xtwo{
        font-size: 1.1rem;
    }
    .xthree{
        font-size: 0.78rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 770px) {
    .one{
        font-size: 2rem;
    }
    .two{
        font-size: 1.7rem;
    }
    .three{
        font-size: 1.7rem;
    }
    .xtwo{
        font-size: 1.7rem;
    }
    .xthree{
        font-size: 1.5rem;
    }
}

/* Header And Footer*/

@media screen and (max-width: 999px) and (orientation: landscape){
    #delete_one{
        display: none;
    }
}
@media screen and (max-width: 999px){
    #delete_one{
        display: none;
    }
}
@media screen and (min-width: 1000px) and (orientation: landscape){
    #delete_two{
        display: none;
    }
}
@media screen and (min-width: 1000px){
    #delete_two{
        display: none;
    }
}
@media screen and (max-width: 750px) and (orientation: landscape) {
    .one{
        font-size: 2rem;
    }
    .two, .xtwo, .three, .xthree{
        font-size: 1.3rem;
    } 
}
